/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body
{
 margin: 0;
 overflow: hidden;
}
html,body{
height: 50%;
margin: 0%;
padding: 0%;
overflow-x: hidden;
min-height: 2748px;
}
body{
  background-color: #f8f8fa;
}
@font-face {
  font-family: "LonelyArmadillo Bold";
  src: url("/LonelyArmadillo\ Bold.otf");
}
@font-face {
  font-family: "SonnyGothic-ExtraBold";
  src: url("/SonnyGothic-ExtraBold.ttf");
}
.top{
  position: relative;
  background-color: #4718fe;
  width: 1536px;
  bottom: 22px;
  right: 8px;
  height: 500px;
}
.company{
  background-color: #f8f8fa;
}
.logo{
  position: relative;
  left: 85px;
  bottom: 380px;
}
.img-here{
  position: relative;
  top: 150px;
  left: 850px;
}
li{
  list-style-type: none;
}
.list{
  position: relative;
  left: 500px;
  bottom: 500px;
  color: #FFF;
}
.home{
  position: relative;
  left: 400px;
  top: 30px;
}
.apis{
  position: relative;
  left: 490px;
  bottom: 9px;
}
.blogs{
  position: relative;
  left: 570px;
  bottom: 49px;
}
.forums{
  position: relative;
  left: 657px;
  bottom: 88.0px;
}
.logins{
  position: relative;
  bottom: 127px;
  left: 760px;
}
.sign-up{
  position: relative;
  left: 1380px;
  bottom: 668px;
  border: none;
  cursor: pointer;
  color: #4718fe;
  font-weight: bolder;
}
.dash{
  position: relative;
  left: 90px;
  bottom: 640px;
  color: #FFF;
  font-size: 80px;
}
.Lorem1{
  position: relative;
  color: #FFF;
  left: 92px;
  font-size: 42px ;
  bottom: 750px;
}
.Lorem2{
  position: relative;
  bottom: 780px;
  left: 96px;
  color: #FFF;
}
.companies{
  position: relative;
  bottom: 10px;
  
}
.Company-1{
  position: relative;
  left: 60px;
  font-family: "LonelyArmadillo Bold";
  font-size: 35px;
  bottom: 35px;
}
.Company-2{
  position: relative;
  left: 328px;
  font-family: "LonelyArmadillo Bold";
  font-size: 35px;
  bottom: 110px;
}
.Company-3{
  position: relative;
  left: 600px;
  font-family: "LonelyArmadillo Bold";
  font-size: 35px;
  bottom: 187px;
}
.API{
  position: relative;
  font-family: "SonnyGothic-ExtraBold";
  left: 100px;
  bottom: 165px;
  font-size: 35px;
}
.card-1-heading{
  position: relative;
  left: 37px;
  font-size: 22px;
  font-weight: bold;
  top: 100px;
  color: #491bfd;
}
.card-1-img{
  position: relative;
  left: 38px;
  bottom: 50px;
}
.Lorem-card-1{
  position: relative;
  left: 38px;
  bottom: -25px;
  font-size: 12.5px;
  font-weight: bold;
}
.card-1{
  position: relative;
  background-color: #fff;
  height: 275px;
  width: 240px;
  left: 100px;
  bottom: 160px;
}
.card-2-img{
  position: relative;
  left: 400px;
  bottom: 505px;
}
.card-2-heading{
  position: relative;
  left: 400px;
  bottom: 360px;
  font-size: 22px;
  font-weight: bold;
}
.Lorem-card-2{
  position: relative;
  left: 390px;
  bottom: 432px;
  font-size: 12.5px;
  font-weight: bold;
}
.card-3-img{
  position: relative;
  left: 660px;
  bottom: 680px;
}
.card-3-heading{
  position: relative;
  left: 660px;
  bottom: 560px;
  font-size: 22px;
  font-weight: bold;
}
.Lorem-card-3{
  position: relative;
  left: 660px;
  bottom: 628px;
  font-size: 12.5px;
  font-weight: bold;
}
.card-4-img{
  position: relative;
  left: 915px;
  bottom: 890px;
}
.card-4-heading{
  position: relative;
  left: 915px;
  bottom: 747px;
  font-size: 22px;
  font-weight: bold;
}
.Lorem-card-4{
  position: relative;
  left: 916px;
  bottom: 827px;
  font-size: 12.5px;
  font-weight: bold;
}
.card-5-img{
  position: relative;
  left: 1155px;
  bottom: 1102px;
}
.card-5-heading{
  position: relative;
  left: 1150px;
  bottom: 957px;
  font-size: 22px;
  font-weight: bold;
}
.Lorem-card-5{
  position: relative;
  left: 1152px;
  bottom: 1039px;
  font-size: 12.5px;
  font-weight: bold;
}
.arrow{
  position: relative;
  left: 1395px;
  bottom: 1185px;
  height: 65px;
}
.latest-blog{
  font-family: "SonnyGothic-ExtraBold";
  position: relative;
  font-size: 38px;
  left: 120px;
  bottom: 1000px;
}
.See-All{
  position: relative;
  font-family: "SonnyGothic-ExtraBold";
  font-size: 18px;
  left: 1250px;
  bottom: 1070px;
  color: #491bfd;
}
.blog-card-1{
  position: relative;
  left: 125px;
  width: 600px;
  bottom: 1000px;
  height: 350px;
  background-color: #fff;
  border: floralwhite;
  border-style:2px dashed;
  border-radius: 55px 0px 0px 10px;
}
.blog-card-2{
  position: relative;
  background-color: #fff;
  width: 600px;
  left: 800px;
  bottom: 1350px;
  height: 350px;
  border: floralwhite;
  border-style:2px dashed;
  border-radius: 55px 0px 0px 0px;

}
.blog2-img{
  position: relative;
  left: 0px;
  bottom: 0px;
}
.question{
  position: relative;
  bottom: 1150px;
  width: 1511px;
  height: 400px;
  background-color: #e9edff;
}
.Rectangle{
  position: relative;
  left: 770px;
  bottom: 175px;
  height: 400px;
}
.ques-txt{
  position: relative;
  font-family: "SonnyGothic-ExtraBold";
  font-size: 45px;
  left: 70px;
  top: 60px;
}
.lorem-ques{
  position: relative;
  bottom: 390px;
  left: 70px;
  font-size: 12px;
  font-weight: bold;
}
.do-you{
  position: relative;
  left: 70px;
  bottom: 380px;
  font-size: 20px;
  font-weight: bolder;
}
.contact{
  position: relative;
  left: 70px;
  width: 140px;
  height: 45px;
  bottom: 372px;
  color: #FFF;
  background-color: #491bfd;
  border: none;
  font-size: 17px;
  border-radius: 7px;
  cursor: pointer;
}
.down{
  position: relative;
  bottom: 1185px;
  height: 200px;
  width: 1513px;
  background-color: #fff;
  
}
.download{
  position: relative;
  top: 80px;
  font-size: 35px;
  left: 60px;
  font-family: "SonnyGothic-ExtraBold";
}
.Now{
  position: relative;
  left: 254px;
  bottom: 8.5px;
  font-size: 35px;
  
}
.email{
  position: relative;
  left: 1000px;
  height: 50px;
  bottom: 100px;
  width: 450px;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  background-color: #e9edff;
  border: none;
}
.download-email{
  position: relative;
  left: 845px;
  height: 52px;
  width: 150px;
  border-radius: 50px;
  bottom: 99px;
  border: none;
  background-color: #491bfd;
  color: #FFF;
}
.bottom{
  position: relative;
  background-color:#491bfd;
  bottom: 1182px;
  height: 250px;
  left: -7.9px;
  width: 1700px;
}
.bottom-logo{
  position: relative;
  left: 75px;
  top: 80px;
  height: 50px;
}
.Lorem-Text{
  position: relative;
  color: #FFF;
  font-size: 14px;
  top: 90px;
  left: 70px;
  font-weight: lighter;
}
.FAQ{
  position: relative;
  left: 1100px;
  top: 45px;
  color: #FFF;
}
.insta{
  position: relative;
  left: 1140px;
  bottom: 50px;
}
.twitter{
  position: relative;
  left: 1155px;
  bottom: 50px;
}
.fb{
  position: relative;
  left: 1171px;
  bottom: 50px;
}
.search{
  position: relative;
  bottom: 1178px;
  left: 1456px;
}
.Date-1{
  font-family: "SonnyGothic-ExtraBold";
  position: relative;
  left: 310px;
  bottom: 250px;
  color: #491bfd;
}
.custom-made{
  position: relative;
  font-family: "SonnyGothic-ExtraBold";
  left: 312px;
  bottom: 250px;
  font-size: 25px;
}
.Lorem-blog-card-1{
  position: relative;
  font-weight: bold;
  font-size: 11.5px;
  left: 310px;
  bottom: 250px;
}
.Date-2{
  font-family: "SonnyGothic-ExtraBold";
  position: relative;
  left: 310px;
  bottom: 250px;
  color: #491bfd;
}
.you-can{
  position: relative;
  font-family: "SonnyGothic-ExtraBold";
  left: 312px;
  bottom: 250px;
  font-size: 25px;
}
.Lorem-blog-card-2{
  position: relative;
  font-weight: bold;
  font-size: 11.5px;
  left: 310px;
  bottom: 250px;
}
.circle-1{
  position: relative;
  height: 80px;
  bottom: 280px;
  left: 300px;
}
.pp-1-text{
  color: black;
  position: relative;
  left: 400px;
  bottom: 240px;
  font-family: "SonnyGothic-ExtraBold";
}
.pp-2-text{
  color: black;
  position: relative;
  left: 400px;
  bottom: 240px;
  font-family: "SonnyGothic-ExtraBold";
}
.circle-2{
  position: relative;
  height: 80px;
  bottom: 280px;
  left: 300px;
}